* {
   margin:0; padding:0;
   font-size:inherit;
   color:inherit;
   -webkit-font-smoothing: antialiased;
}
button::-moz-focus-inner {padding:0;border:0;}
a {outline:none;
   text-decoration:none;
   font-size:11px;
   color:#2d2a2b ;
}
img {border:none;}
html {
   height: 100%;
}
body {
   height: auto !important;
   position: relative;
   background-color: #ebebeb;
   font-family: 'opensansbold';
}
@font-face {
    font-family: 'opensansbold';
    src: url('../fonts/opensansbold.eot');
    src: url('../fonts/opensansbold.eot') format('embedded-opentype'),
         url('../fonts/opensansbold.') format('woff2'),
         url('../fonts/opensansbold.woff') format('woff'),
         url('../fonts/opensansbold.ttf') format('truetype'),
         url('../fonts/opensansbold.svg#opensansbold') format('svg');
}
.container{
   width: 100%;
   max-width: 960px;
   margin-left: 100px;
   background-color: white;
   padding: 200px 25px;
   color: #464646;
}
p{
   font-size: 16px;
   padding-bottom: 20px;
}
p span{
   font-size: 18px;
   color: black;
}
.ulki{
   padding: 100px 20px 100px 20px;
}
ul{
   display: block;
   width: 20%;
   float: left;
   padding-top: 4px;
}
li{
   list-style: none;
   padding: 5px 20px;
   color: #464646;
}
ul{
   border-right: 2px solid #1f2c39;
}
ul li:first-of-type{
   background: #1f2c39;
   border-radius: 20px 0 0px 20px;
   color: white;
}
li{
   color: #1f2c39;
}
ul:nth-child(2){
   border-right: 2px solid #03246c;
}
ul:nth-child(2) li:first-of-type{
   background: #03246c;
   color: white;
   border-radius:0px;
}
ul:nth-child(2) li{
   color: #03246c;
}
ul:nth-child(3){
   border-right: 2px solid #028090;
}
ul:nth-child(3) li:first-of-type{
   background: #028090;
   color: white;
   border-radius:0px;
}
ul:nth-child(3) li{
   color: #028090;
}
ul:nth-child(4){
   border-right: 2px solid #28aeaf;
}
ul:nth-child(4) li:first-of-type{
   background: #28aeaf;
   color: white;
   border-radius:0px;
}
ul:nth-child(4) li{
   color: #28aeaf;
}















